.app-right-bar {
    width: 20%;
    height: 100%;
    background-color: #ffdddd;
}

.app-right-bar .icon-container {
    color: white;
    width: 36px;
    height: 36px;
    border-radius: 0.75rem;
}

.app-right-bar .order-cart-round {
    border-radius: 5rem;
}

.shadow-on-hover:hover {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
}